$foreground: rgb(78, 89, 99);
$background: rgb(210, 215, 220);

/*
    Typography
*/
body {
    font: normal 120%/1.6 "Open Sans", sans-serif; /* ~18px */
		width: 60%; /* ~700px */
    /* media query transitions to smooth things out */
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    margin: 0 auto;
    background-color: $background;
    text-align: justify;
    /* typography improvements */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

/*
    Other
*/
hr {
    color: $foreground;
    background: $foreground;
    border: none;
    height: 0.0625em; /* 1px / 16px */
}

a {
    color: rgb(0, 0, 0);
    transition: color .2s ease-out;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;

    &:hover {
        color: $foreground;
    }

    &:visited {
        color: $foreground;
    }
}

sup {
    padding: 0.125em; /* 2px / 16px */
}

blockquote {
    margin: 1.5em; /* 24px / 16px */
		font-family: 'Raleway', Monospace;
    border-left: 0.3125em solid $foreground; /* 5px / 16px */
    padding: 0.125em 0.125em 0.125em 0.3125em; /* 2 (5)px / 16px */
}

pre {
    background: rgb(223, 228, 229);
    width: 90%;
    overflow: auto;
    margin: 0.625em auto; /* 10px / 16px */
    padding-left: 0.625em;
    font-size: 0.75em; /* 14px / 16px */
}

li {
    margin: 0.3125em; /* 5px / 16px */  
}

figure {
    img, embed, object, video, .embed {
        max-width: 90%;
        margin: 0 auto;
        display: block;
        border: 0.625em solid $foreground; /* 10px / 16px */
        padding-bottom: 1.25em; /* 20px / 16px */
        background: $foreground;
    }

    figcaption {
        text-align: center;
        position: relative;
        top: -1.5625em; /* 25px / 16px */
        color: $background;
        font-size: 0.875em; /* 14px / 16px */
    }
}

header, nav {
    a {
        text-decoration: none;
    }
}

/*
    Header
*/
body > header {
        h1 {
            float: left;
            margin: 0.555555556em 0 0.555555556em 0; /* 10px / 18px */
        }

        nav {
            float: right;
            margin-top: 2em; /* 32px / 16px */

            ul {
                margin: 0;
                padding: 0;
                
                li {
                    display: inline;
                    font-family: "Raleway", sans-serif;
                    font-weight: bold;
                    margin: 0 0.222222222em 0 0.222222222em; /* 3px / 18px */
                }
            }
        }

        hr {
            clear: both;
        }

        a {
            color: rgb(0, 0, 0);

            &:visited {
                color: rgb(0, 0, 0);
            }

            &:hover {
                color: $foreground;    
            }
        }  
}

/*
    Bottom Bar & Navigation
*/
body {
    footer {
        overflow: auto;
        background: $foreground;
        color: rgb(175, 189, 192);
        padding: 0.5%; /* 5px / 1000px */
        margin-bottom: 1.5em; /* 24px / 16px */

        a {
            color: rgb(175, 189, 192);

            &:visited {
                color: rgb(175, 189, 192);
            }

            &:hover {
                color: rgb(0, 0, 0);
            }
        }				

        nav {
            float: right;
            overflow: hidden;
            padding: 0.1875em; /* 3px / 16px */
            
            a {
                color: rgb(0, 0, 0);

                &:visited {
                    color: rgb(0, 0, 0);
                }

                &:hover {
                    color: rgb(175, 189, 192);
                }
            }
        }
    }

}

#footer .engine {
	font-size: 80%;
	text-align: right;
	display: block;
	right: 0;
}

.right { float: right; clear: left; }
.left { float: left; clear: right; }
.inset { 
	border: 0px solid silver; 
	padding: 2px;
	margin: 0em 0.8em 0.8em 0.8em;
}
.right.inset { margin-right: 0 !important; }
.left.inset { margin-left: 0 !important; }
.quiet {
	color: grey;
	font-size: 0.875em;
	line-height: 1.714em;
}


/*
    Media Queries
*/

@media screen and (max-width: 856px) {
    body {
        width: 92%;
    }
}

@media screen and (max-width: 774px) {
    body {
        font-size: 90%; /* 14.4px / 16px */

        hr {
            height: 0.069444444em; /* 1px / 14.4px */
        }
    }
}

@media screen and (max-width: 713px) {
    body > header {
        h1 {
           margin: 0.3125em 0 0.3125em 0; /* 5px / 16px */ 
        }
        nav {
            width: 100%; /* force it to spread across the width of it's parent. */
            float: left;
            margin: 0 0 0.625em 0; /* 5px / 16px */
            text-align: center;
        }
    }
    body {
        footer {
            nav {
                float: none;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 888px) {
    body {
        max-width: 888px;
    }
}
