$foreground: rgb(78, 89, 99);
$background: whitesmoke;
// rgb(210, 215, 220);

$body-font: "Open Sans", sans-serif;
$hdr-font:  "Raleway", sans-serif;

/*
    Typography
*/
body {
    font: normal 100%/1.4 $body-font; /* ~18px */
		width: 80%; /* ~700px */
    /* media query transitions to smooth things out */
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    margin: 0 auto;
    background-color: $background;
    text-align: justify;
    /* typography improvements */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}

#page {
  background: white;
  padding: 3em 3em 1.5em 3em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px #111;
  -webkit-box-shadow: 2px 2px 8px #111;
  -moz-box-shadow: 2px 2px 8px #111;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

/*
    Other
*/
hr {
    color: $foreground;
    background: $foreground;
    border: none;
    height: 0.0625em; /* 1px / 16px */
}

a {
    color: rgb(116, 73, 95);
    transition: color .2s ease-out;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;

    &:hover {
        color: $foreground;
    }

    &:visited {
        color: $foreground;
    }
}

sup {
    padding: 0.125em; /* 2px / 16px */
}

blockquote {
    margin: 1.5em; /* 24px / 16px */
	font-family: $hdr-font;
    border-left: 0.3125em solid $foreground; /* 5px / 16px */
    padding: 0.125em 0.125em 0.125em 0.3125em; /* 2 (5)px / 16px */
}

pre {
    background: rgb(223, 228, 229);
    width: 90%;
    overflow: auto;
    margin: 0.625em auto; /* 10px / 16px */
	  padding: 0.25em 0em 0.25em 0.625em;
    font-family:'Anonymous Pro';
	font-size: 0.9em; /* 14px / 16px */
}

li {
    margin: 0.3125em; /* 5px / 16px */  
}

figure {
    img, embed, object, video, .embed {
        float: right;
		    max-width: 90%;
        margin: 0 auto;
        display: block;
        border: 0; /* 10px / 16px */
        padding-bottom: 0; /* 20px / 16px */
        background: $foreground;
    }

    figcaption {
        text-align: center;
        position: relative;
        top: -1.5625em; /* 25px / 16px */
        color: $background;
        font-size: 0.875em; /* 14px / 16px */
    }
}

header, nav {
    a {
        text-decoration: none;
    }
}

/*
    Header
*/
body > header {
	position: relative;
	// font-variant: small-caps;
	line-height: 1em;
	margin-top: .5em;
	margin-bottom: 0;
	// background: $foreground;
		
	h1 {
		float: left;
		line-height: 0.9em;
		margin-bottom: 0;
		display: block;
	}

	nav {
		float: right;
		line-height: 0.9em;
		margin-top: 1.8em; /* 32px / 16px */
	
		ul {
			margin: 0;
			padding: 0;
			display: block;
                
			li {
				display: inline;
				font-family: $hdr-font;
				font-weight: bold;
				//                    margin: 0 0.222222222em 0 0.222222222em; /* 3px / 18px */
			}
		}
	}

	hr {
		margin-top: 0;
		margin-bottom: 0.3em;
		clear: both;
	}

	a {
		color: rgb(0, 0, 0);

		&:visited {
			color: rgb(0, 0, 0);
		}

		&:hover {
			color: $foreground;    
		}
	}  
}

/*
    Bottom Bar & Navigation
*/
body {
    footer {
        overflow: auto;
        color: $foreground;
        color: rgb(175, 189, 192);
        padding: 0.5%; /* 5px / 1000px */
        margin-bottom: 1.5em; /* 24px / 16px */
		float: right;
		font: 80% $hdr-font;
		
        a {
            color: rgb(175, 189, 192);

            &:visited {
                color: rgb(175, 189, 192);
            }

            &:hover {
                color: rgb(0, 0, 0);
            }
        }				

        nav {
            float: right;
            overflow: hidden;
            padding: 0.1875em; /* 3px / 16px */
            
            a {
                color: rgb(0, 0, 0);

                &:visited {
                    color: rgb(0, 0, 0);
                }

                &:hover {
                    color: rgb(175, 189, 192);
                }
            }
        }
    }

}

/*
    Media Queries
*/

@media screen and (max-width: 856px) {
    body {
        width: 92%;
    }
}

@media screen and (max-width: 774px) {
    body {
        font-size: 90%; /* 14.4px / 16px */

        hr {
            height: 0.069444444em; /* 1px / 14.4px */
        }
    }
}

@media screen and (max-width: 713px) {
    body > header {
        h1 {
           margin: 0.3125em 0 0.3125em 0; /* 5px / 16px */ 
        }
        nav {
            width: 100%; /* force it to spread across the width of it's parent. */
            float: left;
            margin: 0 0 0.625em 0; /* 5px / 16px */
            text-align: center;
        }
    }
    body {
        footer {
            nav {
                float: none;
                text-align: center;
            }
        }
    }
}

@media screen and (max-device-width: 6in) {
  body {
    width: 100%;
  }
  
  #page {
    padding: 0px 1px 0px 1px;
    border: 0;
  }
  
}

@media screen and (min-width: 1080px) {
    body {
        max-width: 1080px;
    }
}
